* {
  user-select: none;
  text-align: center;
  justify-items: center;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  animation: opacity 400ms;
}
nav {
  background-color: black;
  position: relative;
  overflow: hidden;
}
p::after {
  content: "^";
  margin: 15;
}
img {
  width: 100%;
}
nazwa {
  position: absolute;
  left: 5;
  top: 5;
}
kontakt {
  position: absolute;
  right: 5;
  top: 5;

}
grid {
  padding: 1rem;
  display: grid;
  background-color: gray;
  gap: 1em;
}
grid > * {
  width: 70%;
  outline: 1px transparent;
}
blok1:hover {
  outline: 1px orange solid;
  transition: 1s;
}
blok2:hover {
  border: 1px orange solid;
  transition: 1s;
}
blok3:hover {
  border: 1px orange solid;
  transition: 1s;
}
form {
  background-color: white;
}
footer {
  background-color: rgba(128, 128, 128, 0.89);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: 100;}
}
